.uk-inline.uk-dark
  = image_tag avatar_url(@user.avatar), alt: 'avatar', height: '200', width: '200', class: 'edit-avatar uk-border-rounded', id: 'avatar-preview'
%br
= simple_form_for(@user) do |f|

  = f.input :avatar, class: 'avatar-file'

  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :language, collection: LANGUAGES, include_blank: false
    = f.input :password, input_html: { value: '' }
    = f.input :password_confirmation
  .form-actions
    = f.button :submit, "Update"
