.uk-flex.uk-flex-around
  .uk-text-primary.uk-text-bold Most popular
  .uk-text-primary.uk-text-bold
    = link_to 'See more', most_popular_books_path
.uk-grid.uk-grid-match{:class => "uk-child-width-1-4@m", "uk-grid" => ""}
  - @most_popular.each do |book|
    %div
      .uk-card.uk-card-default.book-card
        .uk-card-media-top
          = link_to book_path(book) do
            %img{:alt => "", :src => "#{book.picture.url}"}/
        .uk-card-body
          = link_to book_path(book) do
            %h3.uk-card-title= book.name
          %p= "By #{book.authors.pluck(:name).join(', ')}"
          %p= book.description.truncate(80, separator: ' ') if book.description.present?
%hr
.uk-flex.uk-flex-around
  .uk-text-primary.uk-text-bold Most recent
  .uk-text-primary.uk-text-bold
    = link_to 'See more', most_recent_books_path
.uk-grid.uk-grid-match{:class => "uk-child-width-1-4@m", "uk-grid" => ""}
  - @most_recent.each do |book|
    %div
      .uk-card.uk-card-default.book-card
        .uk-card-media-top
          = link_to book_path(book) do
            %img{:alt => "", :src => "#{book.picture.url}"}/
        .uk-card-body
          = link_to book_path(book) do
            %h3.uk-card-title= book.name
          %p= "By #{book.authors.pluck(:name).join(', ')}"
          %p= book.description.truncate(80, separator: ' ') if book.description.present?
%hr
.uk-flex.uk-flex-around
  .uk-text-primary.uk-text-bold Highest rated
  .uk-text-primary.uk-text-bold
    = link_to 'See more', highest_rated_books_path
.uk-grid.uk-grid-match{:class => "uk-child-width-1-4@m", "uk-grid" => ""}
  - @highest_rated.each do |book|
    %div
      .uk-card.uk-card-default.book-card
        .uk-card-media-top
          = link_to book_path(book) do
            %img{:alt => "", :src => "#{book.picture.url}"}/
        .uk-card-body
          = link_to book_path(book) do
            %h3.uk-card-title= book.name
          %p= "By #{book.authors.pluck(:name).join(', ')}"
          %p= book.description.truncate(80, separator: ' ') if book.description.present?