%v-flex{ "xs3": "" }
  %a{":href": "bookPath"}
    %v-card.white-text{ "color": "blue-grey darken-4" }
      %v-container{:fluid => "", "grid-list-lg" => ""}
        %v-layout{:row => ""}
          %v-flex{:xs7 => ""}
            %div.white-text
              .headline {{ book.name }}
              .author-name by {{ book.author.name }}
              .book-description {{ book.description }}
              .release-date {{ book.release_date | formatDate }}
          %v-flex{:xs5 => ""}
            %v-card-media{:contain => "", :height => "125px", ":src": "book.picture.url"}
