%li
  %article.uk-comment.uk-visible-toggle
    %header.uk-comment-header.uk-position-relative
      .uk-grid-medium.uk-flex-middle.uk-grid{"uk-grid" => ""}
        .uk-width-auto.uk-first-column
          = link_to book_path(book) do
            %img.uk-comment-avatar{:alt => "", :height => "125", :src => "#{book.picture.url}", :width => "88"}
        .uk-width-expand
          %h4.uk-comment-title.uk-margin-remove
            = link_to book.name, book_path(book.id), class: 'uk-link-reset'
          %p.uk-comment-meta.uk-margin-remove-top
            %a.uk-link-reset= "By #{book.authors.pluck(:name).join(', ')}"
          - if book.has_rates?
            = rating_for book, 'stars', enable_half: true, disable_after_rate: true, imdb_avg: true
    .uk-comment-body
      %p= book.description.truncate(250, separator: ' ') if book.description.present?
      %ul.uk-subnav.uk-subnav-divider{"uk-margin" => ""}
        %li.uk-first-column
          = link_to 'Read more', book_path(book.id), class: 'uk-text-primary'
        %li
          %a.uk-text-success{:href => "#"} Add to cart
        - if current_user
          - if current_user.cart.has_book? book
            %li
              = fa_icon 'shopping-cart', 'uk-tooltip': 'title: Already in cart'