%article.uk-article
  %h1.uk-article-title
    %p.uk-h4= @book.name
  %img.uk-align-left.uk-margin-remove-adjacent{src: "#{@book.picture.url}", width: "88", height: "125"}
  %p.uk-article-meta
    Written by
    %a{:href => "#"}= @book.authors.pluck(:name).join(', ')
  = rating_for @book, 'stars', enable_half: true, disable_after_rate: true, imdb_avg: true
  %p.book-description= @book.description
  .uk-grid-small.uk-child-width-auto{"uk-grid" => ""}
    %div
      %a.uk-button.uk-button-default{"uk-toggle" => "target: #comments; animation: uk-animation-fade"}= comment_button_text(@book.comments.count)
    - if current_user
      %div
        = link_to 'Add To Cart', add_to_cart_book_path(@book), class: 'uk-button uk-button-success'
      - if current_user.cart.has_book?(@book)
        .uk-inline
          %button.uk-button.uk-button-danger{:type => "button"} Remove From Cart
          %div{"uk-dropdown" => ""}
            %ul.uk-nav.uk-dropdown-nav
              %li.uk-active
                = link_to 'Remove one', remove_from_cart_book_path(@book)
              %li.uk-active
                = link_to 'Remove all', remove_from_cart_book_path(@book, all: true)
%hr
#comments{"hidden": true}
  %ul.uk-comment-list
    - @book.comments.each do |comment|
      %li
        %article.uk-comment.uk-visible-toggle
          %header.uk-comment-header.uk-position-relative
            .uk-grid-medium.uk-flex-middle.uk-grid{"uk-grid" => ""}
              .uk-width-auto.uk-first-column
                %img.uk-comment-avatar{:alt => "", :height => "80", src: "#{comment.user.avatar.url}", :width => "80"}/
              .uk-width-expand.comment-header
                %h4.uk-comment-title.uk-margin-remove
                  %a.uk-link-reset{:href => "#"}= comment.user.name
                %p.uk-comment-meta.uk-margin-remove-top
                  %a.uk-link-reset{:href => "#"}= comment.created_at
          .uk-comment-body
            %p= comment.message
            %ul.uk-subnav.uk-subnav-divider{"uk-margin" => ""}
            - if comment.user == current_user
              %li.uk-first-column
                = link_to 'Delete', comment_path(comment), class: 'uk-text-danger', data: {confirm: 'Are you sure?'}, method: 'delete'
  = simple_form_for([@book, @book.comments.build]) do |f|
    = f.error_notification
    = f.full_error :confirmation_token
    .form-inputs
      = f.label :comment
      = f.input_field :message, required: true, class: 'uk-textarea', rows: '3'
    .form-actions
      .uk-margin
        = f.button :submit, 'Submit'