#cart{'uk-dropdown': true}
  %table.uk-table.uk-table-divider
    %thead
      %tr
        %th Book
        %th Quantity
        %th
    %tbody
      - cart.books.each do |entry|
        %tr
          %td= entry.book.name
          %td= entry.amount
          %td
            .uk-float-right
              = link_to '', remove_from_cart_book_path(entry.book, all: true), class: 'uk-icon-link gray', 'uk-icon': 'close'