%h2.uk-h3 Shopping cart
%hr
%table.uk-table.uk-table-striped.uk-table-hover
  %thead
    %tr
      %th Book
      %th Authors
      %th Quantity
      %th Price
      %th
  %tbody
    - @cart.books.each do |entry|
      %tr
        %td.uk-table-link= link_to entry.book.name, book_path(entry.book), class: 'uk-link-reset'
        %td= entry.book.authors.pluck(:name).join(', ')
        %td= entry.amount
        %td= number_to_currency(entry.total_price, unit: '€')
        %td
          .uk-float-right
            = link_to '', remove_from_cart_book_path(entry.book, all: true), class: 'uk-icon-link', 'uk-icon': 'trash'
  %thead
    %tr
      %th Total
      %th
      %th= @cart.total_amount
      %th= number_to_currency(@cart.total_price, unit: '€')
      %th
