.book-card > .uk-card-media-top > a > img {
  margin-left: 31%;
  margin-top: 10px;
}
.book-card > .uk-card-body {
  padding: 20px 20px;
}
.uk-article, .uk-comment{ // fixes article stretching the whole screen
  display: inline-block;
}
.uk-width-expand.comment-header {
  width: auto;
}
.cd-main-content .content-wrapper h1 { // fixes article padding
  padding: 20px 0 0 !important;
}
.cd-top-nav img {
  height: 45px !important;
  width: 45px !important;
  left: 0.4em !important;
}
.image_preview img {
  display: ruby-text-container;
}
.edit-avatar {
  margin-bottom: 10px;
}
.uk-icon-link::before {
  content: none !important;
}
.cd-side-nav > ul > li > a::before {
  content: none !important;
}
.cd-side-nav > ul > li > a {
  padding: 1em 1em 1em 1em !important;
}
.uk-tooltip::after {
  content: none !important;
}
.imdb-star {
  float: left;
}
.imdb-number {
  float: left;
  font-size: 1.8rem !important;
  line-height: 50px !important;
}
.imdb-rating + .book-description {
  clear: both;
}
#cart {
  left: unset !important;
  width: auto !important;
  right: 0 !important;

  .uk-icon-link {
    padding: 0 !important;
  }
}
.gray {
  color: gray !important;
}
.user_avatar {
  .file {
    border: none !important;
  }
}