%ul.uk-comment-list
  - categories.each do |category|
    %li
      %article.uk-comment.uk-visible-toggle
        %header.uk-comment-header.uk-position-relative

          %h4.uk-comment-title.uk-margin-remove
            = link_to category.name, category_path(category), class: 'uk-link-reset'
        .uk-comment-body
          %p= category.description.truncate(250, separator: ' ') if category.description.present?