%article.uk-article
  %h1.uk-article-title
    %p.uk-h4= @category.name
  %p= @category.description
%hr
%h4= "Books in #{@category.name} category"
= render 'books/list', books: @books
= paginate @books