%header.cd-main-header.animate-search#header-app
  %nav.cd-main-nav-wrapper
    %a.cd-search-trigger.cd-text-replace{:href => "#search"} Search
  / .cd-main-nav-wrapper
  %a.cd-nav-trigger.cd-text-replace{:href => "#0"}
    Menu
    %span
