%nav.cd-side-nav
  %ul.uk-nav.uk-nav-default
    %li.cd-label= t('menu.main')
    %li{class: "#{controller.controller_name == 'home' ? 'active' : ''}"}
      = link_to root_path do
        = fa_icon 'bars', text: t('menu.start')
    %li.has-children.notifications{class: "#{controller.controller_name == 'books' ? 'active' : ''}"}
      %a{:href => "#"}= fa_icon 'book', text: t('menu.books')
      %ul
        %li{class: "#{controller.action_name == 'most_popular' ? 'active' : ''}"}
          = link_to most_popular_books_path do
            = fa_icon 'fire', text: t('menu.most_popular')
        %li{class: "#{controller.action_name == 'highest_rated' ? 'active' : ''}"}
          = link_to highest_rated_books_path do
            = fa_icon 'thumbs-up', text: t('menu.highest_rated')
        %li{class: "#{controller.action_name == 'most_recent' ? 'active' : ''}"}
          = link_to most_recent_books_path do
            = fa_icon 'star', text: t('menu.most_recent')
    %li{class: "#{controller.controller_name == 'categories' ? 'active' : ''}"}
      = link_to categories_path do
        = fa_icon 'tags', text: t('menu.categories')
    -# %li{class: "#{controller.controller_name == 'authors' ? 'active' : ''}"}
    -#   = link_to authors_path do
    -#     = fa_icon 'users', text: t('menu.authors')

