#search.cd-main-search
  %form
    %input{:placeholder => "Search...", :type => "search", 'v-model': 'search'}/
    .cd-select
      %span in
      %select{:name => "select-category"}
        %option{:value => "all-categories"} all Categories
        %option{:value => "category1"} Category 1
        %option{:value => "category2"} Category 2
        %option{:value => "category3"} Category 3
      %span.selected-value all Categories
  %results{"inline-template": "true", ":results": "results"}
    .cd-search-suggestions
      .news
        %h3 Results
        %ul
          %item{"v-for": "item in results", "inline-template": "true", ":item": "item"}
            %li
              %a.image-wrapper(href="#0")
                %img{alt: "Thumb", ":src": "item.picture.url"}
              %h4
                %a.cd-nowrap{":href": "Routes.book_path(item.id)"} {{ item.name }}
              %h5 by {{ item.author.name }}
              %time {{ item.release_date | formatDate() }}
      / .news
      .quick-links
        %h3 Quick Links
        %ul
          %li
            %a{:href => "#0"} Find a store
          %li
            %a{:href => "#0"} Accessories
          %li
            %a{:href => "#0"} Warranty info
          %li
            %a{:href => "#0"} Support
          %li
            %a{:href => "#0"} Contact us
    / .quick-links
  / .cd-search-suggestions
  %a.close.cd-text-replace{:href => "#0"} Close Form
/ .cd-main-search
.cd-cover-layer
