!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield :title
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :integrity => "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", :rel => "stylesheet"}/
    
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    -# template
    %link{:href => "/css/theme.css", :rel => "stylesheet"}/
    %link{:href => "/css/nav.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %script{:src => "/js/modernizr.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit-icons.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/hasher/1.2.0/hasher.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/crossroads/0.12.2/crossroads.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.2/ckeditor.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet"}/
    %link{:href => "//cdn.jsdelivr.net/jquery.calenstyle/latest/calenstyle.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//cdn.jsdelivr.net/jquery.calenstyle/latest/calenstyle.min.js", :type => "text/javascript"}
    %link{:href => "https://fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet"}/
    %script{:src => "//cdn.jsdelivr.net/jquery.calenstyle/latest/i18n/calenstyle-i18n.js", :type => "text/javascript"}
    %script{:src => "/js/CalJsonGenerator.js", :type => "text/javascript"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js", :type => "text/javascript"}
    %script{:src => "//cloud.tinymce.com/stable/tinymce.min.js"}
    -# template end
    %script{:src => "https://unpkg.com/sweetalert/dist/sweetalert.min.js"}

  %body
    %header.cd-main-header
      = link_to 'Emporium', root_path, class: 'cd-logo'
      .cd-search.is-hidden
        %form{:action => "/books/search"}
          %input{placeholder: t('menu.search'), type: 'search', name: 'search'}/
      / cd-search
      %a.cd-nav-trigger{:href => "#"}
        %span
      %nav.cd-nav
        %ul.cd-top-nav
          - if current_user
            %li
              = link_to carts_path do
                %i.fa.fa-shopping-cart.fa-lg
                .uk-position-top-right.uk-overlay.uk-overlay-default
              = render 'carts/dropdown', cart: current_user.cart
            %li.has-children.account
              %a{:href => "#"}
                - if current_user.avatar.present?
                  = image_tag current_user.avatar.url, alt: 'avatar'
                = current_user.name
              %ul
                %li
                  = link_to t('user_actions.my_account'), user_path(current_user)
                %li
                  = link_to t('user_actions.edit_account'), edit_user_path(current_user)
                %li
                  = link_to t('user_actions.logout'), destroy_user_session_path, method: :delete
                - if current_user != true_user
                  %li
                    = link_to 'Stop Impersonating', stop_impersonating_users_path
          - else
            %li
              = link_to t('user_actions.login'), new_user_session_path
    %main.cd-main-content
      = render 'layouts/menu'
      .content-wrapper
        %br/
        %br/
        %div{:id => "page-content-wrapper uk-margin-top"}
          #content.uk-container.uk-container-medium
            - flash.each do |key, value|
              %div{class: "uk-alert-#{flash_key(key)}", "uk-alert" => ""}
                %a.uk-alert-close{"uk-close" => ""}
                %p= value
            = yield
            = insert_paloma_hook
    %script{:src => "/js/jquery.menu-aim.js"}
    %script{:src => "/js/main.js"}
